#main-img {
  position: absolute;
  height: calc(100% - 140px);
  width: calc(50% - 70px);
  overflow: hidden;
  border-radius: 50px;
  border: 10px solid #f2f2f2;
  outline: 10px solid #D0C09A;
  left: 70px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 100%;
    object-fit: contain;
    float: right;
  }
}

#menu {
  position: absolute;
  left: calc(50% + 20px);
  width: calc(50% - 20px);
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  #main-img {
    visibility: hidden;
  }
  #menu {
    width: 100%;
    left: 0;
  }
}

#date {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 0;
  font-size: 40px;
}

.header {
  position: absolute;
  width: 50%;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  p {
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
  }
  .img-left {
    position: absolute;
    width: 50px;
    top: 0;
    left: -50px;
  }
  .img-right {
    position: absolute;
    width: 50px;
    top: 0;
    right: -50px;
  }
}

.loader {
  position: absolute;
  width: 35%;
  height: 60px;
  div {
    position: absolute;
    width: 80%;
    left: 15%;
    top: 30px;
    height: 25px;
    background-color: #f2f2f2;
    border-radius: 12.5px;
    overflow: hidden;
    div {
      height: 25px;
      background-color: #a39982;
      border-radius: 0px;
      top: 0;
      left: 0;
      transition: all 1s ease;
    }
  }
  img {
    position: absolute;
    top: 30px;
    left: 0;
    width: 10%;
    height: 25px;
  }
  p {
    position: absolute;
    margin-top: 0;
    left: 20%;
    font-size: 19px;
  }
  h1 {
    position: absolute;
    color: #1d1d1d;
    font-size: 19px;
    top: 15px;
    left: calc(50% - 25px);
    font-style: normal;
    font-weight: 800;
  }
}

.time-switcher {
  position: absolute;
  width: 50%;
  left: 10%;
  height: 50px;
  background-color: #D0C09A;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
  p {
    margin-top: 12px;
    font-size: 19px;
    color: #1d1d1d;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
  
  }
  transition: all 0.3s ease;
  &:hover {
    background-color: #f2f2f2;
  }
  &.active {
    background-color: #f2f2f2;
  }
}

#context-menu {
  position: fixed;
  width: calc(50% - 50px);
  height: calc(100% - 120px);
  background-color: #1d1d1d;
  color: blue;
  left: 70px;
  top: 70px;
  font-size: 2vh;
  font-weight: 300;
  border-radius: 50px;
  outline: 10px solid #D0C09A;
  color: #f2f2f2;
  text-align: center;
  @media screen and (max-width: 700px) {
    width: calc(100% - 50px);
    left: 25px;
  }

  div {
    position: relative;
		top: 0;
		width: calc(100% - 60px);
		padding: 20px;
		left: 10px;
		height: 70%;
		overflow-y: scroll;
    p {
      position: relative;
      top: 0;
      font-style: italic;
      font-weight: 300;
      font-size: 22px;
    }
    button {
      position: relative;
			top: 0;
			width: 80%;
			height:	auto;
			margin: 10px;
      padding: 20px;
			border-radius: 50px;
			background-color: #D0C09A;
			cursor: pointer;
			text-align: center;
			border: none;
			color: #1d1d1d;
			font-size: 17px;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-weight: 500;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}